* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    background-color: #1E1F1C;
    color: #fff;

    font-size: 24px;
    display: flex;
    align-items: center;

}
.side {
    height: 100vh;
}

.leftSide {
    background-image: url("images/backgroundImage.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
}

.logo-container {
    display: flex;
    background: rgba(0, 0, 0, 0.75);

    margin-top: 40px;

    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 10px;
}


.rightSide {
    width: 40%;
    border: 2px solid black;
}

.missionStatement, .form-container, .button-container {
    background-color: #006400;
    border-radius: 10px;
    border: 2px solid #8B4513;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

    margin: 15px;
    padding: 15px;
    padding-top: 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

h1, h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}
.form-columnOne {
    margin-right: 100px;
}



.form-row input {
    background-color: #fff;
    border: 2px solid #8B4513;
    border-radius: 30px;
    padding: 7px;
    font-size: 14px;
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    margin-bottom: 15px;
}

button {
    background-color: #2F1E17;
    color: #fff;
    font-size: 24px;
    border: 1px black solid;
    border-radius: 30px;
    text-align: center;
    margin: 15px;
    padding: 15px;

    height: 10%;
    width: 25%;
    
}

.login {
    margin: 15px;
}


