* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('font/Pixeltype.ttf');
}
html, body {
    height: 100%;
}
body {
    background-color: #1E1F1C;
    color: #fff;

    font-size: 24px;
    display: flex;
    align-items: center;

}


.leftSide {
    background-image: url("images/backgroundImage.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 100vh;
}

.logo-container {
    display: flex;
    background: rgba(0, 0, 0, 0.75);

    margin-top: 40px;

    justify-content: center;
    align-items: center;
}

h1, p, label, button, h2, input{
    font-family: 'Pixel';
    margin-top: 10px;
}

h1 {
    font-size: 3em;
}

p, h2, input, label, button {
    font-size: 2em;
}


.rightSide {
    width: 40%;
}

.missionStatement, .form-container, .button-container {
    background-color: #006400;
    border-radius: 10px;
    border: 2px solid #8B4513;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

    margin: 15px;
    padding: 15px;
    padding-top: 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

h1, h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.form-columnOne {
    margin-right: 100px;
}



.form-row input {
    background-color: #fff;
    border: 2px solid #8B4513;
    border-radius: 30px;
    padding: 7px;

    width: 100%;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    margin-bottom: 15px;
}

button {
    background-color: #2F1E17;
    color: #fff;
    border: 1px black solid;
    border-radius:10px;
    text-align: center;
    margin: 15px;
    padding: 25px;

    height: 10%;
    width: 70%;
    transition: all 0.2s ease;
    
}

button:hover {
    background-color: #6e4330;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


button:active {
    background-color: #b87051;
    border-radius: 20px;
    box-shadow: none;
    transform: translateY(2px);
  }

.login {
    margin: 15px;
}


